{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<header class="about-header">
{% endblock header %}





{% block header_last %}

<div class="about-text-box">
    <h1>About Us</h1>
    
</div>


</header>

<section class="about-text">
  <div class="container">
    <main><p class="sec-1-para">
        Anka Charity renders a service to old aged and orphans. With generosity from heart and hospitality in hands, our charity in Shivamogga is passionate to serve and help others rise.<br><br> Apart from lending a helping hand to people, Anka Charity also supports shrines to serve the devotees and also save animals and birds from plastic and human harassment. Anka Charity is restlessly working to help the citizens and build the nation. Raising the flag a bit more higher, volunteers and other people working at Anka Charity are clearly raising the bar of patriotism and kinship.</p></main>
       
     
  </div>
  

</section>


<section class="gallery">
      <div class="bd-example">
              <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <img src="{% static './img/accomplised events/oldage/anka charity , frutis distribution at old age (1).jpeg' %}" class="d-block w-100" alt="anka charity fruits distribution at oldage home shimoga">
                    <div class="carousel-caption d-none d-md-block caption">
                      <h5 class="caption">Fruits Distributions At Old Age Home</h5>
                      <br>
                      <p></p>
                    </div>
                  </div>
                  <div class="carousel-item active">
                    <img src="{% static './img/accomplised events/orphanage/anka charity, cloth distribution to orpanage (1).jpeg' %}" class="d-block w-100" alt="anka charity cloth distrubtion at orpanage shimoga">
                    <div class="carousel-caption d-none d-md-block caption">
                      <h5 class="caption">Cloth Distributions At Orpanage</h5>
                      <br>
                      
                    </div>
                  </div>
                  <div class="carousel-item">
                          <img src="{% static './img/anka charity, temple donation.jpg' %}" class="d-block w-100" alt="anka charity temple donation">
                          <div class="carousel-caption d-none d-md-block caption">
                            <h5 class="caption">Understanding our cultures and ancient shrines</h5>
                            <br>
                          </div>
                        </div>
                  <div class="carousel-item">
                    <img src="{% static './img/anka-charity-help-street animals.jpg' %}" class="d-block w-100" alt="anka charity helping animals">
                    <div class="carousel-caption d-none d-md-block caption">
                      <h5 class="caption">Animals and birds are important to the mankind</h5>
                      <br>
                      
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

</section>


<section class="about-text">
<div class="container">
  
     <p class="sec-1-para">
          We started this initiative to have new look to the existing problems which we undergo day to day activities. The major contribution for this is our negligence towards the value which we have forgot to imbibe from our culture, region, elders and language. To reinforce these values we have come up with new unique idea of helping each other in building the trust on our culture, rituals, practice, etc.</p>
        <br>
          <h4>History:</h4>
          <p class="sec-1-para">There has been lot of funding to support for many people personally and financially, Educational program, support family which are economically backward, Donations to the temples and organizing the marriages. All these activities were done off the record previously. But now to provide a proper shape and stage to show case the good work done, we have opened the charitiable trust. This is to inspire many to join hands in achiving the goals of the charity. This is an inclusive process where people involve for the betterment of the society.</p>
   
</div>


</section>
<section class="quote">
  <h1>"You make a living by what you get and You make a life by what you give!"</h1>
</section>

<section class="mission" id="mis">
      <div class="row">

              <div class="col-md">
                      <div class="txt">
                              <h1>Our Mission</h1>
                              <p>To secure and sustain the regional, ethical and moral values and to help people in building the
                                environment, well being, culture and nation.</p>
                           
                      </div>
                  </div>

              <div class="col-md img-txt">
                  
                          <img src="{% static './img/anka-charity-mission.jpg' %}" alt="anka charity mission shimoga">
                  
               
              </div>
             
             
            </div>

</section>

<section class="mission">
      <div class="row">
              <div class="col-md img-txt">
                  
                          <img src="{% static './img/anka-charity-helping-oldage.jpg' %}" alt="anka charity vission ">
                  
               
              </div>
              <div class="col-md">
                  <div class="txt">
                          <h1>Our Vision</h1>
                          <p>To continuously find the new innovative ideas in improving and sustaining the core values by
                            involving people.</p>
                       
                  </div>
              </div>
             
            </div>

</section>

   
{% endblock header_last %}