{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<header class="about-header">
{% endblock header %}

{% block header_last %}
<div class="about-text-box">
    <h1>Contact Us</h1>
    
</div>


</header>

<section class="mission contact">
  <div class="row">
          <div class="col-md img-txt">
              
                      <img src="{% static './img/Anka charity location image.jpeg' %}" alt="anka charity bulding">
              
           
          </div>
          <div class="col-md">
              <div class="txt">
                      <h1>Anka charity</h1>
                      <p>Pavani, 1st cross</p>
                      <p>Swamy Vivekananda colony,</p>
                      <p>Near vrudhasharama,</p>
                      <p >Gadikoppa, shivamogga</p>
                      <p id="bank"><strong>Phone:</strong>+91 97394 63517</p>
                      <p ><strong>Email:</strong>ankacharity@gmail.com</p>
                      <br>
                      <h5 >Bank Account Details:</h5><br>
                      <p><strong>Account Numer: </strong>38104296227 </p>
                      <p><strong>Holder Name: </strong>Anka charitable trust</p>
                      <p><strong>IFSC Code: </strong>SBIN0005619</p>
                      <p><strong>Location: </strong>SBI Bank Shimoga</p>
                   
              </div>
          </div>
         
        </div>

</section>

<!-- <section >
<div class="container">
<div class="row">
<div class="col-sm bank">
   <h2>Bank account details</h2>
   <p><strong>Account Numer:</strong></p>
   <p><strong>Holder Name:</strong></p>
   <p><strong>IFSC Code:</strong></p>
   
</div>
</div>
</section>-->


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3872.3330061779675!2d75.53668531483255!3d13.938766990226705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zMTPCsDU2JzE5LjYiTiA3NcKwMzInMjAuMCJF!5e0!3m2!1sen!2sin!4v1560180249984!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

   
{% endblock header_last %}