{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<header class="about-header">
{% endblock header %}


{% block header_last %}

<div class="about-text-box" style="font-family:'Dancing Script', cursive;">
    <h1>Accomplished Events</h1>
    
</div>


</header>

<section>
<br>
<h3 class="event-heading" style="font-family:'Dancing Script', cursive;">Fruits Distributions At Old Age Home</h3>
<br>
<div class="container">
<div class="row">
<div class="col-sm">
<div class="img-box ">
  <img src="{% static './img/accomplised events/oldage/anka charity , frutis distribution at old age (1).jpeg' %}" alt="anka charity frutis distribution at old age shimoga">
</div>
</div>
<div class="col-sm">
<div class="img-box ">
  <img src=" {% static './img/accomplised events/oldage/anka charity , frutis distribution at old age (2).jpeg' %}  " alt="anka charity frutis distribution at old age shimoga">
</div>
</div>
<div class="col-sm">
<div class="img-box ">
  <img src="{% static './img/accomplised events/oldage/anka charity , frutis distribution at old age (3).jpeg' %}" alt="anka charity frutis distribution at old age shimoga">
</div>
</div>
</div>
<div class="row">
<div class="col-sm">
<div class="img-box ">
    <img src="{% static './img/accomplised events/oldage/anka charity , frutis distribution at old age (4).jpeg' %}" alt="anka charity frutis distribution at old age shimoga">
</div>
</div>
<div class="col-sm">
<div class="img-box ">
    <img src="{% static './img/accomplised events/oldage/anka charity , frutis distribution at old age (5).jpeg' %}" alt="anka charity frutis distribution at old age shimoga">
</div>
</div>
<div class="col-sm">
<div class="img-box ">
    <img src="{% static './img/accomplised events/oldage/anka charity , frutis distribution at old age (6).jpeg' %}" alt="anka charity frutis distribution at old age shimoga">
</div>
</div>
</div>
</div>

</section>

<section>
<br>
<h3 class="event-heading" style="font-family:'Dancing Script', cursive;">Cloth Distributions At Orpanage</h3>
<br>
<div class="container">
<div class="row">
<div class="col-sm">
 <div class="img-box ">
     <img src="{% static './img/accomplised events/orphanage/anka charity, cloth distribution to orpanage (1).jpeg' %}  " alt="anka charity frutis distribution at orphanage shimoga">
 </div>
</div>
<div class="col-sm">
 <div class="img-box ">
     <img src="{% static './img/accomplised events/orphanage/anka charity, cloth distribution to orpanage (2).jpeg' %}" alt="anka charity frutis distribution at orphanage shimoga">
 </div>
</div>
<div class="col-sm">
 <div class="img-box ">
     <img src="{% static './img/accomplised events/orphanage/anka charity, cloth distribution to orpanage (3).jpeg' %}" alt="anka charity frutis distribution at orphanage shimoga">
 </div>
</div>
</div>

</div>

</section>
<br>
<section class="mission container">
<div class="row">
    <div class="col-md img-txt">
        
                <img src="{% static './img/accomplised events/anka charity temple donation.jpg' %}" alt="anka charity temple donation and renovation shimoga">
        
     
    </div>
    <div class="col-md">
        <div class="txt" style="text-align: justify;">
                <h3>Temple Donation:</h3>
                <p>For the tempele located in Balleshwara, Honnali taluk, Davanegere distric. From the trust we are  providing annual donation of rupees 5000 for mantintenance.</p>
                <br>
                <h3>Temple Renovation:</h3>
                <p>Also we are searching for the old historical temples which are not taken care. We are planning to renovate them by collecting funds</p>
        </div>
    </div>
   
  </div>

</section>

   
{% endblock header_last %}